# แบบฝึกหัด 6

---

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

8.1 ร้านค้าออนไลน์ขายเมล็ดพืชหายากชนิดหนึ่ง อ้างว่าเมล็ดที่ขายมีเปอร์เซ็นต์การงอกสูงกว่า 90% จากการทดลองของลูกค้ารายหนึ่งได้สั่งซื้อเมล็ดมาทั้งหมด 100 เมล็ดและพบว่ามี 14 เมล็ดที่ไม่งอก จงทดสอบคำกล่าวอ้างของร้านค้าว่าเป็นจริงหรือไม่ที่ระดับนัยสำคัญ 0.05 หากถือว่าอัตราการงอกของเมล็ดพืชดังกล่าวมีการแจกแจงแบบปกติ

In [ ]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล

$\alpha$ = 0.05,  $n$ = 100,  $p\hat{}$ = 0.86,  $p$ = 0.9
- ตั้งสมมติฐาน 
\
  $H_0: P \leq$ 0.9\
  $H_1: P > 0.9$

In [7]:
n = 100
p = 0.86
p_0 = 0.9
sigma = 0.05

In [8]:
np.format_float_scientific(sigma, exp_digits=2)

'5.e-02'

In [8]:
z_cal = (p-p_0)/np.sqrt((p_0*(1-p_0))/n)

z_crit = stats.norm.isf(sigma)

p_value = stats.norm.sf(z_cal)

print('z_cal = {:.2f}'.format(z_cal))
print('z_crit = {:.2f}'.format(z_crit))
print('p_value = {:.4f}'.format(p_value))

z_cal = -1.33
z_crit = 1.64
p_value = 0.9088

In [20]:
z_cal, p_val = proportions_ztest(count=86, nobs=n, value=p_0, alternative='larger')
print('z_cal = {:.2f}'.format(z_cal))
print('p_value = {:.4f}'.format(p_val))

z_cal = -1.15
p_value = 0.8755

- z_cal อยู่ในบริเวณยอมรับ H0   
- p_val > 0.05  

จึงยอมรับ H0 คำกล่าวอ้างของร้านค้าว่า เมล็ดที่ขายมีเปอร์เซ็นต์การงอกสูงกว่า 90% จึงไม่เป็นความจริง

8.2 สืบเนื่องจากข้อ 8.1 พบว่ามีร้านค้าออนไลน์อีกเจ้าซึ่งขายเมล็ดพืชหายากชนิดเดียวกันนี้ อ้างว่าเมล็ดที่ขายมีเปอร์เซนต์การงอกสูงกว่า 95% จึงสั่งซื้อมา 50 เมล็ดพบว่ามี 4 เมล็ดที่ไม่งอก จงทดสอบว่าร้านค้านี้ขายเมล็ดซึ่งมีเปอร์เซ็นต์การงอกสูงกว่าร้านค้าแรกมากกว่าหรือเท่ากับ 5% หรือไม่ ที่ระดับนัยสำคัญ 0.05

In [ ]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล

- จากโจทย์ $n_1 = 100, n_2 = 50, x_1 = 86, x_2 = 46 P_0 = 0.05$
- ตั้งสมมติฐาน
\
  $H_0: P_1 - P_2 \geq P_O = 0.05$\
  $H_1: P_1 - P_2 < P_O = 0.05$

- $\alpha = 0.1$

In [10]:
x1,x2 = 46, 86
n1,n2 = 50, 100
p0 = 0.05
alpha = 0.05

p_hat = (x1+x2)/(n1+n2)
q_hat = 1-p_hat

p_hat1 = x1/n1
p_hat2 = x2/n2

z_cal =  (p_hat1 - p_hat2) / np.sqrt(p_hat * q_hat) * (1 / n1 + 1 / n2)
p_val = stats.norm.cdf(z_cal)

print('z_cal = {:.2f}'.format(z_cal))
print('p_value = {:.4f}'.format(p_val))

z_cal = 0.01
p_value = 0.5022

In [15]:
z_cal, p_val = proportions_ztest(count=[x1, x2], 
                                    nobs=[n1, n2], 
                                    value=p0, 
                                    alternative="smaller", prop_var=alpha)

print('z_cal = {:.2f}'.format(z_cal))
print('p_value = {:.4f}'.format(p_val))

z_cal = 0.26
p_value = 0.6045

**p-value > $\alpha$**
<p>ปฎิเสธ H<sub>0</sub></p>

8.3 จากชุดข้อมูล "titanic.csv" จงทดสอบว่าส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสารมีค่าน้อยกว่า 10 ปีหรือไม่ที่ระดับความเชื่อมั่น 99% หากกำหนดให้ข้อมูลอายุผู้โดยสารมีการแจกแจงแบบปกติ

In [ ]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล

- $\sigma_0$ = 10
- ตั้งสมมติฐาน
\
  $H_0: \sigma \geq 10$\
  $H_1: \sigma < 10$
- $\alpha = 0.01$

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
std = np.std(df['Age'], ddof=1)
std

14.526497332334044

In [21]:
n = df['Age'].notnull().sum()
sigma_0 = 10
alpha = 0.01

chi2_cal = ((n - 1) * std ** 2) / (sigma_0 ** 2)
chi2_crit = stats.chi2.ppf(alpha, df=n-1) # h1 : sigma < sigma_0
p_value = stats.chi2.cdf(chi2_cal, df=n-1)

print('chi2_cal = {:.2f}'.format(chi2_cal))
print('chi2_crit = {:.2f}'.format(chi2_crit))
print('p_value = {:.20f}'.format(p_value))

chi2_cal = 1504.57
chi2_crit = 628.10
p_value = 1.00000000000000000000

**p-value < $\alpha$**

 <p style="color:#0181FF;">ดังนั้น ยอมรับ H<sub>0</sub> และไม่ยอมรับ H<sub>1</sub> นั่นคือส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสารมีค่ามากกว่าหรือเท่ากัับ 10 ปี</p>

8.4 จากข้อ 8.3 จงทดสอบว่ากลุ่มผู้โดยสารชั้น Pclass = 1 มีความแปรปรวนของอายุเท่ากับ กลุ่มผู้โดยสารชั้น Pclass = 2 หรือไม่ที่ระดับนัยสำคัญ 0.05

**สมมติฐาน:**  
H0: $𝜎^2_1/𝜎^2_2 = 1$   
H1: $𝜎^2_1/𝜎^2_2 \ne 1$

In [22]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล
Pclass1 = np.var(df.Age[df.Pclass==1], ddof=1)
Pclass2 = np.var(df.Age[df.Pclass==2], ddof=1)
f_cal = Pclass1/Pclass2

dfn = sum( df.Age[df.Pclass==1].notnull()) - 1
dfd = sum( df.Age[df.Pclass==2].notnull()) - 1
f_critical_left = stats.f.ppf(0.05/2, dfn=dfn, dfd=dfd)
f_critical_right = stats.f.isf(0.05/2, dfn=dfn, dfd=dfd)

p_val = 2*min(stats.f.sf(f_cal, dfn=dfn, dfd=dfd), stats.f.cdf(f_cal, dfn=dfn, dfd=dfd))

print('f_cal = {:.2f}'.format(f_cal))
print('f_critical_left = {:.2f}'.format(f_critical_left))
print('f_critical_right = {:.2f}'.format(f_critical_right))
print('p_value = {:.4f}'.format(p_val))

f_cal = 1.12
f_critical_left = 0.75
f_critical_right = 1.34
p_value = 0.4593

<p style="color:#0181FF;">ดังนั้น ยอมรับ H<sub>0</sub> และไม่ยอมรับ H<sub>1</sub> นั่นคือกลุ่มผู้โดยสารชั้น Pclass = 1 มีความแปรปรวนของอายุเท่ากับ กลุ่มผู้โดยสารชั้น Pclass = 2 </p>