In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("http://tinyurl.com/ProgStatMtcars")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
vs_and_am = df[['vs', 'am']]
vs_and_am.tail()

    vs  am
27   1   1
28   0   1
29   0   1
30   0   1
31   1   1

In [13]:
O_i = pd.crosstab(vs_and_am.vs, vs_and_am.am)
O_i

am   0  1
vs
0   12  6
1    7  7

In [15]:
E_i = np.zeros(O_i.shape)

for i in range(O_i.shape[0]):
    for j in range(O_i.shape[1]):
        E_i[i, j] = 
E_i

array([[10.6875,  7.3125],
       [ 8.3125,  5.6875]])

In [17]:
chi2_cal = ((O_i - E_i)**2 / E_i).values.sum()
chi2_cal

0.9068825910931175

In [26]:
alpha = 0.05
v = (O_i.shape[0] - 1) * (O_i.shape[1] - 1)
chi2_crit = stats.chi2.isf(alpha, df=v)

print(v)
print(chi2_crit)
print(np.format_float_scientific(chi2_crit, precision=5, unique=False))

1
3.8414588206941285
3.84146e+00

In [28]:
p_value = stats.chi2.sf(chi2_cal, df=v)
p_value
print(np.format_float_scientific(p_value, precision=5, unique=False))

3.40943e-01

In [30]:
cyl = df['cyl'].value_counts()
cyl

8    14
4    11
6     7
Name: cyl, dtype: int64

In [31]:
cyl.values

array([14, 11,  7])

In [32]:
O = np.array(cyl.values)
p = np.array([1/4, 1/4, 2/4])
E = p * O.sum()

chi2_cal = ((O - E)**2 / E).sum()
chi2_cal

10.6875

In [33]:
chi2_cal, p_value = stats.chisquare(f_obs=O, f_exp=E)
chi2_cal, p_value

(10.6875, 0.00477791987398702)